*{
    margin: 0 auto;
}

body{
    text-align: justify !important;
    background-color: rgb(205, 231, 240) !important;

}
header{
    background-color:	rgb(194, 171, 171) !important;
    /*background-image: url(Img/capa.jpg); Capa de fundo anterior*/
    text-align: center;
    padding-top: 50px;
    block-size: 0%;
    
}

section{
    padding-top: 20px;

}

aside{
    padding-top: 20px;
}

footer{
    background-color: rgb(155, 155, 175) !important;
    height: 120px; 
    padding: 15px;

}

p{
    text-align: justify !important;

}

h1{
    color: rgb(162, 162, 243);

}

h2{
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    color: rgb(162, 162, 243);

}

h3{
    text-align: left;
    font-size: 17px !important;
    color: gray;

}

h4{
    color: white; 
    text-align: center;
    font-size: 22px !important;
}

h5{
    font-size: 14px;
    color: gray;
    text-align: justify;

}

h6{
    background-color: rgb(162, 162, 243);
    font-size: 18px;
    padding: 7px;
    color: white;
    text-align: center;

}

/*#DivPainel{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    border: 1px solid gray;
    box-shadow: 0px 0px 2px 2px grey;
    
}*/

#DivImagemDownload{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 0px 0px 2px 2px grey;
    /*border: solid 1px; adicionar borda*/  

}

#IdPessoal{
    padding-top: 10px;
    margin-bottom: 40px;

}

#DivDados{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    padding: 10px;
    line-height: 20px;
    box-shadow: 0px 0px 2px 2px grey;
    /*border: solid 1px; adicionar borda*/

}

.DivContatos{
    padding: 20px;
    line-height: 30px;

}

.DivEsquerda{
	width: 25%;
    height: 350px;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 0px 0px 2px 2px grey;

}

.DivDireita{
	width: 25%;
    height: 350px;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 0px 0px 2px 2px grey;
	
}

.DivQuadro{
    width: 20%;
    height: 280px;
    background-color: white;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0px 0px 2px 2px grey;

}

.ImgIcone{
    max-width: 30px;
    max-height: 30px;
    
}

.DivIcones{
    width: 20%;
    float: left;

}

.IconPainel{
    max-width: 20px;
    max-height: 20px;

}

.ImgIconeDownload{
    max-width: 25px;
    max-height: 25px;
    padding-right: 5px;

}

